dev.mc-werewolf.com {
	basic_auth {
		{$BASIC_AUTH_DEV_USER} {$BASIC_AUTH_DEV_HASH}
	}

	handle /api/* {
		reverse_proxy dev-backend:8000
	}

	handle {
		reverse_proxy dev-frontend:3000
	}
}

mc-werewolf.com {
	handle /admin* {
		basic_auth {
			{$BASIC_AUTH_ADMIN_USER} {$BASIC_AUTH_ADMIN_HASH}
		}

		reverse_proxy prod-frontend:3000
	}

	handle /api/admin/* {
		basic_auth {
			{$BASIC_AUTH_ADMIN_USER} {$BASIC_AUTH_ADMIN_HASH}
		}

		reverse_proxy prod-backend:8000
	}

	handle /api/* {
		reverse_proxy prod-backend:8000
	}

	handle {
		reverse_proxy prod-frontend:3000
	}
}
